{% extends 'food/base.html' %}
{% load static %}
{% block content %}

<div class="tm-right-column">
    <div class="tm-content-div">
                            <!-- Welcome section -->
                            <section class="tm-section">
                                <header>
                                    <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45">Категории</h2>
                                </header>
                                <ul>
                                {% for category in categories %}
                                <p> <h2><a href="{% url 'show_dishes_by_cat' category.slug %}">{{ category }}</li> </p>
                                    </a>
                                    </h2>
                                {% endfor %}
                                </ul>
<!--                               <nav>-->
<!--                                    <ul>-->
<!--                                        {% for p in paginator.page_range %}-->
<!--                                        <li> <a href="?page={{ p }}">{{ p }}</a>-->
<!--                                        </li>-->
<!--                                        {% endfor %}-->
<!--                                    </ul>-->

<!--                                </nav>-->
                            </section>
                            {% include 'food/pagination.html'%}
    </div>
</div>
{% endblock content %}
