{% extends 'food/base.html' %}
{% load static %}

{% block content %}

<div class="tm-right-column">
    <div class="tm-content-div">
                            <!-- Welcome section -->
                            <section class="tm-section">
                                <header>
                                    <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45">Список рецептов</h2>
                                </header>
                                <label for="dropdown-checkbox" class="dropdown-btn">Фильтр</label>
                                <input type="checkbox" id="dropdown-checkbox" class="dropdown-checkbox">
                                <form method="get">
                                    <input name="search" placeholder="Искать здесь..." type="search">
                                      <button type="submit">Поиск</button>
                                <div class="dropdown-content">
                                        {{ filter_form.as_p }}
                                        <button type="submit">Применить</button>

                                    {% if is_filtered %}
                                    <a href="{% url 'dishes' %}"><button type="submit">Сбросить</button></a>
                                    {% endif %}
                                </div>
                                </form>
                                <ul>
                                {% for dish in dishes %}
                                    <h2><a href="{{ dish.href }}">{{ dish }}</a></h2>
                                    <div class="dish-container">
                                        <img src="{{ dish.photo }}" width="300" height="300" alt='Фотка блюда' class="img-fluid">
                                        <div>
                                            <p> Калорий: {{ dish.calories }}</p>
                                            <p>Полное время готовки: {{ dish.total_cooking_time }}</p>
                                            <p>Активное время готовки: {{ dish.active_cooking_time }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                </ul>

                            </section>
        {% include 'food/pagination.html'%}

    </div>
</div>
{% endblock content %}
