<div class="pagination">
    {%if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">«</a>
    {% endif %}
    {% if page_obj.number|add:'-3' > 1 %}
        <a href="?page=1">1</a>
    {% endif %}
            {% if page_obj.number|add:'-3' >= 3 %}
                    <a href="?page={{ page_obj.previous_page_number|add:'-3' }}">. . .</a>
            {% endif %}
            {% if paginator.page_range|length > 1 %}
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                 <a class="active">{{ i }}</a>
                {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
                <a href="?page={{ page_obj.number|add:'3' }}">. . .</a>
            {% endif %}
        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">»</a>
        {% endif %}
        {% endif %}
</div>
<!--    <div class="pagination">-->
<!--      <a href="#">«</a>-->
<!--      <a href="#">1</a>-->
<!--      <a href="#" class="active">2</a>-->
<!--      <a href="#">3</a>-->
<!--      <a href="#">4</a>-->
<!--      <a href="#">5</a>-->
<!--      <a href="#">6</a>-->
<!--      <a href="#">»</a>-->
<!--    </div>-->